In [1]:
import pandas as pd
import os
os.getcwd()

'C:\\Users\\stevewatkins\\Downloads\\temp2\\PythonForDataAnalysis'

In [2]:
# HTTP - read CSV into dataframe
df2 = pd.read_csv("https://raw.githubusercontent.com/stevewatkins17/PythonForDataAnalysis/master/demo_AmexTransactions.csv", header=None)
df4 = pd.read_csv("http://46.101.230.157/dilan/pandas_tutorial_read.csv", delimiter=";", names = ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic'])

In [ ]:
# MACBOOK absolute path - read CSV into dataframe

df1 = pd.read_csv("/users/stevewatkins/PythonForDataAnalysis/demo_AmexTransactions.csv", header=None)
df3 = pd.read_csv("/users/stevewatkins/PythonForDataAnalysis/trips.csv", header="infer")

In [3]:
# WINDOWS absolute path - read CSV into dataframe
df1 = pd.read_csv("C:/Users/stevewatkins/Downloads/temp2/PythonForDataAnalysis/demo_AmexTransactions.csv", header=None)
df3 = pd.read_csv("C:/Users/stevewatkins/Downloads/temp2/PythonForDataAnalysis/trips.csv", header="infer")

In [4]:
# WINDOWS relative path - read CSV into dataframe
df1 = pd.read_csv("demo_AmexTransactions.csv", header=None)
df3 = pd.read_csv("trips.csv", header="infer")

In [5]:
## view results

df3.head(10)
#df4.tail(2)
#df4.sample(5)
#df4[["my_datetime", "source"]]

##series
#df4['user_id']

#df4[df4.source == 'Reddit']
#df4.sample(100)

#df4[['source']].count()
#df4[['source']].sum()
#df4[['user_id']].sum()

#df1
df3

,Unnamed: 0,id,duration,start_date,start_station,end_date,end_station,bike_number,sub_type,zip_code,birth_date,gender
0,0,1,9,2011-07-28 10:12:00,23.0,2011-07-28 10:12:00,23.0,B00468,Registered,'97217,1976.0,Male
1,1,2,220,2011-07-28 10:21:00,23.0,2011-07-28 10:25:00,23.0,B00554,Registered,'02215,1966.0,Male
2,2,3,56,2011-07-28 10:33:00,23.0,2011-07-28 10:34:00,23.0,B00456,Registered,'02108,1943.0,Male
3,3,4,64,2011-07-28 10:35:00,23.0,2011-07-28 10:36:00,23.0,B00554,Registered,'02116,1981.0,Female
4,4,5,12,2011-07-28 10:37:00,23.0,2011-07-28 10:37:00,23.0,B00554,Registered,'97214,1983.0,Female
5,5,6,19,2011-07-28 10:39:00,23.0,2011-07-28 10:39:00,23.0,B00456,Registered,'02021,1951.0,Male
6,6,7,24,2011-07-28 10:47:00,23.0,2011-07-28 10:47:00,23.0,B00554,Registered,'02140,1971.0,Female
7,7,8,7,2011-07-28 10:48:00,23.0,2011-07-28 10:48:00,23.0,B00554,Registered,'02140,1971.0,Female
8,8,9,8,2011-07-28 11:01:00,23.0,2011-07-28 11:01:00,23.0,B00554,Registered,'97214,1983.0,Female
9,9,10,1108,2011-07-28 11:55:00,47.0,2011-07-28 12:13:00,40.0,B00550,Registered,'01867,1994.0,Male
10,10,11,1055,2011-07-28 11:55:00,47.0,2011-07-28 12:13:00,40.0,B00580,Registered,'01867,1956.0,Male
11,11,12,1042,2011-07-28 11:55:00,47.0,2011-07-28 12:12:00,40.0,B00539,Registered,'01867,1959.0,Female
12,12,13,994,2011-07-28 12:00:00,40.0,2011-07-28 12:16:00,47.0,B00368,Casual,NaN,NaN,NaN
13,13,14,15,2011-07-28 12:00:00,22.0,2011-07-28 12:00:00,22.0,B00442,Registered,'02446,1982.0,Male
14,14,15,952,2011-07-28 12:00:00,40.0,2011-07-28 12:16:00,23.0,B00556,Registered,'02128,1944.0,Male
15,15,16,32,2011-07-28 12:00:00,22.0,2011-07-28 12:01:00,22.0,B00316,Registered,'02115,1960.0,Female
16,16,17,1261,2011-07-28 12:00:00,22.0,2011-07-28 12:21:00,45.0,B00454,Registered,'02492,1975.0,Male
17,17,18,7,2011-07-28 12:00:00,22.0,2011-07-28 12:00:00,22.0,B00404,Registered,'02446,1956.0,Male
18,18,19,1020,2011-07-28 12:01:00,38.0,2011-07-28 12:18:00,36.0,B00147,Registered,'02118,1987.0,Female
19,19,20,1264,2011-07-28 12:01:00,38.0,2011-07-28 12:22:00,44.0,B00165,Registered,'02139,1985.0,Female
20,20,21,1043,2011-07-28 12:01:00,38.0,2011-07-28 12:18:00,44.0,B00527,Registered,'02351,1978.0,Male
21,21,22,969,2011-07-28 12:01:00,22.0,2011-07-28 12:17:00,44.0,B00487,Registered,'02143,1971.0,Male
22,22,23,1582,2011-07-28 12:01:00,38.0,2011-07-28 12:27:00,10.0,B00093,Registered,'02130,1980.0,Female
23,23,24,620,2011-07-28 12:01:00,22.0,2011-07-28 12:12:00,20.0,B00375,Registered,'02474,1955.0,Female
24,24,25,7,2011-07-28 12:02:00,22.0,2011-07-28 12:02:00,22.0,B00275,Registered,'02140,1971.0,Female
25,25,26,771,2011-07-28 12:02:00,38.0,2011-07-28 12:15:00,42.0,B00279,Registered,'02108,1943.0,Male
26,26,27,1222,2011-07-28 12:02:00,38.0,2011-07-28 12:22:00,44.0,B00074,Registered,'02143,1972.0,Female
27,27,28,4,2011-07-28 12:02:00,22.0,2011-07-28 12:02:00,22.0,B00137,Registered,'01776,1949.0,Male
28,28,29,5,2011-07-28 12:02:00,22.0,2011-07-28 12:02:00,22.0,B00082,Registered,'01880,1968.0,Male
29,29,30,824,2011-07-28 12:02:00,22.0,2011-07-28 12:16:00,38.0,B00460,Registered,'02131,1967.0,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1569971,1569971,1578995,360,2013-11-30 20:17:00,80.0,2013-11-30 20:23:00,135.0,T01149,Registered,'02139,NaN,Male
1569972,1569972,1578996,540,2013-11-30 20:17:00,76.0,2013-11-30 20:26:00,91.0,T01268,Registered,'02139,NaN,Male
1569973,1569973,1578997,300,2013-11-30 20:23:00,136.0,2013-11-30 20:28:00,67.0,T01352,Registered,'02142,NaN,Male
1569974,1569974,1578998,420,2013-11-30 20:23:00,76.0,2013-11-30 20:30:00,80.0,T01185,Registered,'02215,NaN,Male
1569975,1569975,1579000,300,2013-11-30 20:33:00,133.0,2013-11-30 20:38:00,74.0,T01217,Casual,NaN,NaN,NaN
1569976,1569976,1579001,1200,2013-11-30 20:46:00,137.0,2013-11-30 21:06:00,80.0,T01146,Registered,'02171,NaN,Male
1569977,1569977,1579002,360,2013-11-30 20:50:00,136.0,2013-11-30 20:56:00,67.0,T01328,Registered,'02142,NaN,Male
1569978,1569978,1579003,300,2013-11-30 20:59:00,68.0,2013-11-30 21:04:00,95.0,T01182,Registered,'02445,NaN,Male
1569979,1569979,1579004,300,2013-11-30 21:01:00,84.0,2013-11-30 21:06:00,128.0,B01468,Registered,'02142,NaN,Male
1569980,1569980,1579005,960,2013-11-30 21:07:00,68.0,2013-11-30 21:23:00,74.0,T01439,Registered,'02215,NaN,Male
1569981,1569981,1579006,180,2013-11-30 21:10:00,72.0,2013-11-30 21:13:00,91.0,T01351,Registered,'02142,NaN,Female
1569982,1569982,1579007,420,2013-11-30 21:19:00,96.0,2013-11-30 21:26:00,76.0,T01175,Registered,'02139,NaN,Female
1569983,1569983,1579008,300,2013-11-30 21:41:00,67.0,2013-11-30 21:46:00,68.0,T01343,Registered,'02139,NaN,Male
1569984,1569984,1579009,300,2013-11-30 21:47:00,137.0,2013-11-30 21:52:00,133.0,B01489,Registered,'02452,NaN,Male
1569985,1569985,1579010,780,2013-11-30 21:54:00,129.0,2013-11-30 22:07:00,91.0,T01350,Registered,'02139,NaN,Male
1569986,1569986,1579011,540,2013-11-30 21:55:00,76.0,2013-11-30 22:04:00,68.0,T01175,Registered,'02139,NaN,Male
1569987,1569987,1579012,1440,2013-11-30 22:15:00,130.0,2013-11-30 22:39:00,68.0,B01480,Registered,'02139,NaN,Male
1569988,1569988,1579013,480,2013-11-30 22:25:00,137.0,2013-11-30 22:33:00,74.0,T01308,Registered,'02140,NaN,Male
1569989,1569989,1579014,420,2013-11-30 22:25:00,137.0,2013-11-30 22:32:00,74.0,T01043,Registered,'02139,NaN,Female
1569990,1569990,1579015,360,2013-11-30 22:51:00,67.0,2013-11-30 22:57:00,68.0,T01352,Registered,'02139,NaN,Male
1569991,1569991,1579016,300,2013-11-30 22:53:00,74.0,2013-11-30 22:58:00,87.0,T01217,Registered,'02138,NaN,Female
1569992,1569992,1579017,120,2013-11-30 23:07:00,128.0,2013-11-30 23:09:00,136.0,B01468,Registered,'02142,NaN,Male
1569993,1569993,1579018,900,2013-11-30 23:17:00,76.0,2013-11-30 23:32:00,96.0,B00585,Registered,'02131,NaN,Female
1569994,1569994,1579019,240,2013-11-30 23:24:00,134.0,2013-11-30 23:28:00,139.0,T01195,Registered,'02478,NaN,Male
1569995,1569995,1579020,360,2013-11-30 23:24:00,129.0,2013-11-30 23:30:00,133.0,T01069,Registered,'02138,NaN,Male
1569996,1569996,1579021,720,2013-11-30 23:30:00,130.0,2013-11-30 23:42:00,90.0,T01341,Registered,'02141,NaN,Male
1569997,1569997,1579022,480,2013-11-30 23:32:00,67.0,2013-11-30 23:40:00,88.0,T01328,Registered,'02143,NaN,Male
1569998,1569998,1579023,540,2013-11-30 23:32:00,137.0,2013-11-30 23:41:00,133.0,T01310,Casual,NaN,NaN,NaN
1569999,1569999,1579024,120,2013-11-30 23:36:00,76.0,2013-11-30 23:38:00,68.0,B01478,Registered,'02141,NaN,Male
1570000,1570000,1579025,420,2013-11-30 23:39:00,68.0,2013-11-30 23:46:00,95.0,T01352,Registered,'02143,NaN,Female\n