In [1]:
import pandas as pd
import os
os.getcwd()

'C:\\Users\\stevewatkins\\Downloads\\CodeLouisville\\PythonForDataAnalysis\\IpythonNotebooks'

In [2]:
# HTTP - read CSV into dataframe
df2 = pd.read_csv("https://raw.githubusercontent.com/stevewatkins17/PythonForDataAnalysis/Jan2020/IpythonNotebooks/Data/demo_AmexTransactions.csv", header=None)
df4 = pd.read_csv("http://46.101.230.157/dilan/pandas_tutorial_read.csv", delimiter=";", names = ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic'])

df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,01/01/2018 Mon,NaN,"THORNTONS - PROSPECT, KY",NaN,NaN,NaN,Transportation,NaN,7.71,NaN,000101530525022270350\n5022280350\nAUTOMATED F...,THORNTONS,13302 W HIGHWAY 42\nPROSPECT\nKY,40059\nUNITED STATES,'320180020387880725',NaN
1,01/02/2018 Tue,NaN,"GOOGLE *GOOGLE STORAGE - 855-836-3987, CA",NaN,NaN,NaN,Business Services,NaN,9.99,NaN,A07DGWR0 SELLER\nSELLER\n\n SELLER \n,Google Services,1600 AMPHITHEATRE PKWY\nMOUNTAIN VIEW\nCA,94043-1351\nUNITED STATES,'320180030398782679',NaN
2,01/02/2018 Tue,NaN,"THORNTONS - PROSPECT, KY",NaN,NaN,NaN,Transportation,NaN,11.70,NaN,000201530645027280350\n5022280350\nAUTOMATED F...,THORNTONS,13302 W HIGHWAY 42\nPROSPECT\nKY,40059\nUNITED STATES,'320180030400527501',NaN
3,01/03/2018 Wed,NaN,"AMAZON MKTPLACE PMTS - AMZN.COM/BILL, WA",NaN,NaN,NaN,Merchandise & Supplies,NaN,85.00,NaN,6KWIX54M0UK BOOK STORES\nBOOK STORES\n\n BOOK ...,Amazon Marketplace,410 TERRY AVE N\n-\nSEATTLE\nWA,98109\nUNITED STATES,'320180030401066585',NaN
4,01/03/2018 Wed,NaN,"Amazon Web Services - AWS.Amazon.com, WA",NaN,NaN,NaN,Merchandise & Supplies,NaN,9.46,NaN,BXVJ2YWCER7 WEB SERVICES\nWEB SERVICES\n\n WEB...,AMAZON WEB SERVICES,410 Terry Ave N\nSeattle\nWA,98109\nUNITED STATES,'320180030404248515',NaN
5,01/11/2018 Thu,NaN,"TRADER JOE'S #628 QPS 628 - LOUISVILLE, KY",NaN,NaN,NaN,Merchandise & Supplies,NaN,147.72,NaN,0017185 626-599-3700\n626-599-3700\nGROCERY ST...,Trader Joe's,4600 SHELBYVILLE RD STE 112\nLOUISVILLE\nKY,40207\nUNITED STATES,'320180120538571262',NaN
6,10/20/2018 Sat,NaN,SEATGEEK_TICKETS - NEW YORK,NaN,NaN,NaN,Entertainment,NaN,18.96,NaN,460K6C43HO3 TICKET AGENCY\nTICKET AGENCY\n\n T...,SEATGEEK,400 LAFAYETTE\n4TH FLOOR\nNEW YORK\nNY,10003\nUNITED STATES OF AMERICA (THE),'320182940013497196',NaN
7,10/22/2018 Mon,NaN,SEATGEEK_TICKETS - NEW YORK,NaN,NaN,NaN,Entertainment,NaN,21.08,NaN,3QKQNKBATIL TICKET AGENCY\nTICKET AGENCY\n\n T...,SEATGEEK,400 LAFAYETTE\n4TH FLOOR\nNEW YORK\nNY,10003\nUNITED STATES OF AMERICA (THE),'320182960047156426',NaN

In [3]:
# MACBOOK absolute path - read CSV into dataframe

#df1 = pd.read_csv("/Users/stevewatkins/Downloads/CodeLouisville/sw/PythonForDataAnalysis/IpythonNotebooks/Data/demo_AmexTransactions.csv", header=None)

#may need to unzip csv first 
#df3 = pd.read_csv("/Users/stevewatkins/Downloads/CodeLouisville/sw/PythonForDataAnalysis/IpythonNotebooks/Data/trips.csv", header="infer")

In [4]:
# WINDOWS absolute path - read CSV into dataframe
#df1 = pd.read_csv("C:/Users/stevewatkins/Downloads/temp2/PythonForDataAnalysis/demo_AmexTransactions.csv", header=None)
#df3 = pd.read_csv("C:/Users/stevewatkins/Downloads/temp2/PythonForDataAnalysis/trips.csv", header="infer")

In [5]:
# WINDOWS or MAC - relative path - read CSV into dataframe
df1 = pd.read_csv("Data/demo_AmexTransactions.csv", header=None)
df3 = pd.read_csv("Data/trips.csv", header="infer")

In [6]:
## view results

#df1.head(10)
#df1.tail(2)
df3.sample(5)
#df4[["my_datetime", "source"]]

##series
#df4['user_id']

#df4[df4.source == 'Reddit']
#df4.sample(100)

#df4[['source']].count()
#df4[['source']].sum()
#df4[['user_id']].sum()

#df1
#df3

,Unnamed: 0,id,duration,start_date,start_station,end_date,end_station,bike_number,sub_type,zip_code,birth_date,gender
1443863,1443863,1452646,840,2013-10-19 12:42:00,98.0,2013-10-19 12:56:00,98.0,B00014,Casual,NaN,NaN,NaN
1152490,1152490,1160722,300,2013-08-18 11:53:00,49.0,2013-08-18 11:58:00,4.0,B00170,Registered,'02116,NaN,Female
1233798,1233798,1242206,300,2013-09-04 19:13:00,64.0,2013-09-04 19:18:00,47.0,B00074,Registered,'02113,NaN,Male
928417,928417,936062,1380,2013-06-28 15:39:00,47.0,2013-06-28 16:02:00,98.0,T01168,Casual,NaN,NaN,NaN
25634,25634,26924,1446,2011-08-21 19:46:00,50.0,2011-08-21 20:10:00,47.0,B00497,Casual,NaN,NaN,NaN