In [ ]:
import pandas as pd
import sqlite3
import os

# create the sqlite DB
db = sqlite3.connect("Data/MyDemo.db")

# read CSV into dataframe
df1 = pd.read_csv("Data/demo_AmexTransactions.csv", header=None)

# convert the pandas dataframe to a sqlite table
df1.to_sql("expenses", db, if_exists="replace")

def run_query(query):
    return pd.read_sql_query(query,db)

os.getcwd()

In [ ]:
# view dataframe
df1

In [ ]:
query = """
SELECT * 
FROM sqlite_master
ORDER BY name;
"""
run_query(query)

In [ ]:
query = """
SELECT * 
FROM expenses;
"""
run_query(query)