In [1]:
import pandas as pd
import os
os.getcwd()

'/Users/stevewatkins/PythonForDataAnalysis'

In [4]:
# read CSV into dataframe
df1 = pd.read_csv("/users/stevewatkins/AnacondaProjects/PythonForDataAnalysis/demo_AmexTransactions.csv", header=None)
df2 = pd.read_csv("https://raw.githubusercontent.com/stevewatkins17/PythonForDataAnalysis/master/demo_AmexTransactions.csv", header=None)
df3 = pd.read_csv("/users/stevewatkins/AnacondaProjects/PythonForDataAnalysis/trips.csv", header="infer")

df4 = pd.read_csv("http://46.101.230.157/dilan/pandas_tutorial_read.csv", delimiter=";", names = ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic'])

In [16]:
## view results

df4.head(1)
#df4.tail(2)
#df4.sample(5)
#df4[["my_datetime", "source"]]

##series
#df4['user_id']

#df4[df4.source == 'Reddit']
#df4.sample(100)

#df4[['source']].count()
#df4[['source']].sum()
#df4[['user_id']].sum()

df1
df3

,Unnamed: 0,id,duration,start_date,start_station,end_date,end_station,bike_number,sub_type,zip_code,birth_date,gender
0,0,1,9,2011-07-28 10:12:00,23.0,2011-07-28 10:12:00,23.0,B00468,Registered,'97217,1976.0,Male
1,1,2,220,2011-07-28 10:21:00,23.0,2011-07-28 10:25:00,23.0,B00554,Registered,'02215,1966.0,Male
2,2,3,56,2011-07-28 10:33:00,23.0,2011-07-28 10:34:00,23.0,B00456,Registered,'02108,1943.0,Male
3,3,4,64,2011-07-28 10:35:00,23.0,2011-07-28 10:36:00,23.0,B00554,Registered,'02116,1981.0,Female
4,4,5,12,2011-07-28 10:37:00,23.0,2011-07-28 10:37:00,23.0,B00554,Registered,'97214,1983.0,Female
...,...,...,...,...,...,...,...,...,...,...,...,...
1569996,1569996,1579021,720,2013-11-30 23:30:00,130.0,2013-11-30 23:42:00,90.0,T01341,Registered,'02141,NaN,Male
1569997,1569997,1579022,480,2013-11-30 23:32:00,67.0,2013-11-30 23:40:00,88.0,T01328,Registered,'02143,NaN,Male
1569998,1569998,1579023,540,2013-11-30 23:32:00,137.0,2013-11-30 23:41:00,133.0,T01310,Casual,NaN,NaN,NaN
1569999,1569999,1579024,120,2013-11-30 23:36:00,76.0,2013-11-30 23:38:00,68.0,B01478,Registered,'02141,NaN,Male
1570000,1570000,1579025,420,2013-11-30 23:39:00,68.0,2013-11-30 23:46:00,95.0,T01352,Registered,'02143,NaN,Female\n