In [1]:
import pandas as pd
import os
os.getcwd()

'/Users/stevewatkins/PythonForDataAnalysis'

In [2]:
# MACBOOK - read CSV into dataframe

df1 = pd.read_csv("/users/stevewatkins/PythonForDataAnalysis/demo_AmexTransactions.csv", header=None)
df2 = pd.read_csv("https://raw.githubusercontent.com/stevewatkins17/PythonForDataAnalysis/master/demo_AmexTransactions.csv", header=None)
df3 = pd.read_csv("/users/stevewatkins/PythonForDataAnalysis/trips.csv", header="infer")

df4 = pd.read_csv("http://46.101.230.157/dilan/pandas_tutorial_read.csv", delimiter=";", names = ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic'])

In [7]:
## view results

df3.head(10)
#df4.tail(2)
#df4.sample(5)
#df4[["my_datetime", "source"]]

##series
#df4['user_id']

#df4[df4.source == 'Reddit']
#df4.sample(100)

#df4[['source']].count()
#df4[['source']].sum()
#df4[['user_id']].sum()

#df1
#df3

,Unnamed: 0,id,duration,start_date,start_station,end_date,end_station,bike_number,sub_type,zip_code,birth_date,gender
0,0,1,9,2011-07-28 10:12:00,23.0,2011-07-28 10:12:00,23.0,B00468,Registered,'97217,1976.0,Male
1,1,2,220,2011-07-28 10:21:00,23.0,2011-07-28 10:25:00,23.0,B00554,Registered,'02215,1966.0,Male
2,2,3,56,2011-07-28 10:33:00,23.0,2011-07-28 10:34:00,23.0,B00456,Registered,'02108,1943.0,Male
3,3,4,64,2011-07-28 10:35:00,23.0,2011-07-28 10:36:00,23.0,B00554,Registered,'02116,1981.0,Female
4,4,5,12,2011-07-28 10:37:00,23.0,2011-07-28 10:37:00,23.0,B00554,Registered,'97214,1983.0,Female
5,5,6,19,2011-07-28 10:39:00,23.0,2011-07-28 10:39:00,23.0,B00456,Registered,'02021,1951.0,Male
6,6,7,24,2011-07-28 10:47:00,23.0,2011-07-28 10:47:00,23.0,B00554,Registered,'02140,1971.0,Female
7,7,8,7,2011-07-28 10:48:00,23.0,2011-07-28 10:48:00,23.0,B00554,Registered,'02140,1971.0,Female
8,8,9,8,2011-07-28 11:01:00,23.0,2011-07-28 11:01:00,23.0,B00554,Registered,'97214,1983.0,Female
9,9,10,1108,2011-07-28 11:55:00,47.0,2011-07-28 12:13:00,40.0,B00550,Registered,'01867,1994.0,Male