In [15]:
import pandas as pd

# read CSV into dataframe
df1 = pd.read_csv("C:/Users/stevewatkins/AnacondaProjects/expenses_2018/demo_AmexTransactions.csv", header=None)

# view results
df1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,01/01/2018 Mon,NaN,"THORNTONS - PROSPECT, KY",NaN,NaN,NaN,Transportation,NaN,7.71,NaN,000101530525022270350\n5022280350\nAUTOMATED F...,THORNTONS,13302 W HIGHWAY 42\nPROSPECT\nKY,40059\nUNITED STATES,'320180020387880725',NaN
1,01/02/2018 Tue,NaN,"GOOGLE *GOOGLE STORAGE - 855-836-3987, CA",NaN,NaN,NaN,Business Services,NaN,9.99,NaN,A07DGWR0 SELLER\nSELLER\n\n SELLER \n,Google Services,1600 AMPHITHEATRE PKWY\nMOUNTAIN VIEW\nCA,94043-1351\nUNITED STATES,'320180030398782679',NaN
2,01/02/2018 Tue,NaN,"THORNTONS - PROSPECT, KY",NaN,NaN,NaN,Transportation,NaN,11.70,NaN,000201530645027280350\n5022280350\nAUTOMATED F...,THORNTONS,13302 W HIGHWAY 42\nPROSPECT\nKY,40059\nUNITED STATES,'320180030400527501',NaN
3,01/03/2018 Wed,NaN,"AMAZON MKTPLACE PMTS - AMZN.COM/BILL, WA",NaN,NaN,NaN,Merchandise & Supplies,NaN,85.00,NaN,6KWIX54M0UK BOOK STORES\nBOOK STORES\n\n BOOK ...,Amazon Marketplace,410 TERRY AVE N\n-\nSEATTLE\nWA,98109\nUNITED STATES,'320180030401066585',NaN
4,01/03/2018 Wed,NaN,"Amazon Web Services - AWS.Amazon.com, WA",NaN,NaN,NaN,Merchandise & Supplies,NaN,9.46,NaN,BXVJ2YWCER7 WEB SERVICES\nWEB SERVICES\n\n WEB...,AMAZON WEB SERVICES,410 Terry Ave N\nSeattle\nWA,98109\nUNITED STATES,'320180030404248515',NaN
5,01/11/2018 Thu,NaN,"TRADER JOE'S #628 QPS 628 - LOUISVILLE, KY",NaN,NaN,NaN,Merchandise & Supplies,NaN,147.72,NaN,0017185 626-599-3700\n626-599-3700\nGROCERY ST...,Trader Joe's,4600 SHELBYVILLE RD STE 112\nLOUISVILLE\nKY,40207\nUNITED STATES,'320180120538571262',NaN
6,10/20/2018 Sat,NaN,SEATGEEK_TICKETS - NEW YORK,NaN,NaN,NaN,Entertainment,NaN,18.96,NaN,460K6C43HO3 TICKET AGENCY\nTICKET AGENCY\n\n T...,SEATGEEK,400 LAFAYETTE\n4TH FLOOR\nNEW YORK\nNY,10003\nUNITED STATES OF AMERICA (THE),'320182940013497196',NaN
7,10/22/2018 Mon,NaN,SEATGEEK_TICKETS - NEW YORK,NaN,NaN,NaN,Entertainment,NaN,21.08,NaN,3QKQNKBATIL TICKET AGENCY\nTICKET AGENCY\n\n T...,SEATGEEK,400 LAFAYETTE\n4TH FLOOR\nNEW YORK\nNY,10003\nUNITED STATES OF AMERICA (THE),'320182960047156426',NaN

In [1]:
import os
os.getcwd()

'/Users/stevewatkins/AnacondaProjects/PythonForDataAnalysis'