In [24]:
import os
os.getcwd()
# os.chdir("/Users/stevewatkins/python3/demos/sqlite") # relative path: scripts dir is under Users/stevewatkins

'C:\\Users\\stevewatkins\\AnacondaProjects'

In [28]:
import pyodbc
import sqlite3
import pandas as pd

def run_query(query):
    return pd.read_sql_query(query,cn)

cn = pyodbc.connect(
    r'DRIVER={ODBC Driver 13 for SQL Server};'
    r'SERVER=PBDWH303;'
    r'DATABASE=BI_EDW_STAGING;'
    r'trusted_connection=Yes;'
    r'APP=Steve''s Python app;'
    )

In [31]:
query = """
select top 10 fa_id ,fa_city ,fa_state ,fa_latitude ,fa_longitude from [dbo].[Facilities];
"""
run_query(query)

   fa_id     fa_city fa_state  fa_latitude  fa_longitude
0   1523   CHARLOTTE       NC    35.231091    -80.838168
1   1524     CONCORD       NC    35.416790    -80.560146
2   1525  KANNAPOLIS       NC    35.477921    -80.632934
3   1526     CONCORD       NC    35.398748    -80.604482
4   1527     CONCORD       NC    35.449630    -80.547005
5   1528     CONCORD       NC    35.379256    -80.555250
6   1529     CONCORD       NC    35.424604    -80.548344
7   1530  KANNAPOLIS       NC    35.499654    -80.597462
8   1531     CONCORD       NC    35.431232    -80.578494
9   1532     CONCORD       NC    35.358214    -80.571644